@use "../../../styles/variables.scss" as *;
@use  "../../../styles/mixins.scss" as *;

.special-btn{
      background-color: $mainColor1!important;
      width: 150px;
      height: 50px;
      @include flexbox($ai: center, $jc: center);
      @include borderRadius(10px);
    
      border: 2px solid $mainColor1;
      color: $mainColor-white;

      &:hover{
        background-color: $mainColor-white !important;
        color: $mainColor1;
        font-weight: 500;
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }