/* COMMON */
$mainColor-blue: #083060;
$mainColor-red: #D90F1A;
$mainColor-white: #FFFFFF;
$mainColor-black: #000000;
$mainColor-black-op-50:rgba(0, 0, 0, 0.50);
$secondaryColor-grey:#F0F0F0;



$vendors: ("", "-webkit-", "-moz-", "-ms-", "-o-");


/* BOOTSTRAP */
$font-family-sans-serif: var(--font-poppins);
$primary: $mainColor-blue;
$secondary: $mainColor-red;
// $navbar-light-color: $color3;
// $navbar-light-hover-color: $color2;
// $navbar-light-active-color:$color2;