@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.topbar{
    background-color:$mainColor-black;
    color:$mainColor-white;
    padding:15px;
    @include flexbox($ai: center);
    font-size: 26px;

    .container{
        @include flexbox($ai: center);

        .nav-link{
            padding: 5px 8px;

            &:hover{
                color: $mainColor-red;
            }

            i{
                font-size: 14px;
            }
        }

        .topBar-right{

            @include flexbox($ai: center, $fd:row, $gap:2.5rem);
            font-size: 20px;
            
            a{
                @include flexbox($ai: center);
                text-decoration: none;
                cursor: pointer;

                &:hover{
                    color: $mainColor-red;
                }
            }

            i{
                margin-right: 7px;
                font-size: 13px;
            }
            span{
                margin-left: 10px;
            }
        }
    }

    
}