@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.slider-container {
  padding: 20px;

  .slider-header{
    @include flexbox($ai:center, $jc:space-between);

    .slider-buttons{
      @include flexbox($ai:center, $jc:space-between, $gap:1rem);
    
       button{
        width: 2.7rem;
        height: 2.7rem;
        @include flexbox($ai:center, $jc:center);
        @include borderRadius(10px);
        background-color: $mainColor-white;
        border: 2px solid $mainColor1;
        color:$mainColor1;
        font-size: 1.3rem;
        padding: 0;
        margin: 0;

        svg{
          margin: 0;
          padding: 0;
        }

        @media(max-width:768px){
          width: 2rem;
          height: 2rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}

.slider {
  display: flex !important;
}

.slick-slider {
  display: flex !important;
  justify-content: center;

  .slick-list{
    .slick-track{
      display: flex;
      gap: 1rem;
      margin-bottom: 0.3rem;
    }
  }
}

.slider-card {
  max-width: 450px;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  padding: 0;
  border: none;
  z-index: 0;
  overflow: hidden;

  .card-body{
    background-color:$mainColor3;
    @include borderRadius(5px 5px 0 0);

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(14, 13, 13, 0.096);
      z-index: 2;
      top: 150px;
      left: 50px;
      border-radius: 25px;
      transform: rotate(15deg);
    }
  }


  .card-content {
    @include flexbox($ai:center, $jc:center);
    position: relative;
    height: 180px;
    overflow: hidden;   
    color: $mainColor-white;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;

    &::before,
    &::after {
        font-size: 60px; // Tırnakların boyutu
        color: $mainColor-white; // Tırnak rengini içeriğe uyumlu hale getir
        font-weight: bold;
        position: absolute;
        width: 25px;
        height: 25px;
    }

    &::before {
        content: "“"; // Açılış çift tırnak
        top: 0;
        left: 0;
    }

    &::after {
        content: "”"; // Kapanış çift tırnak
        bottom: 35px;
        right: 0;
    }
}

  .title {
    color: $mainColor-red;
    font-size: 16px;
    font-weight: bold;
  }

  .card-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    background: $mainColor-white !important;
    z-index: 2;

    .photo-holder{
      @include flexbox($ai:center, $jc:center);
      width: 40px;
      height: 40px;
      @include borderRadius(50%);
      font-size: 20px;
      color: $mainColor-white;
    }

    // .avatar {
    //   width: 40px;
    //   height: 40px;
    //   margin-right: 10px;
    // }

    .info{
      @include flexbox($ai:flex-start, $jc:center, $fd:column);

      .name {
        font-weight: bold;
        color: $mainColor-black;
        margin-bottom: 4px;
      }
  
      .role {
        color: $mainColor-black-op-50;
        font-size: 12px;
        margin-bottom: 4px;
      }
    }
  }
}
