@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

/*=============== CATEGORIES ===============*/
.students {
  overflow: hidden;
  position: relative;


  .student-wrapper {
    @include flexbox($fd: row, $ai: center, $jc: space-between, $gap: 1rem);
    transition: transform 0.3s ease-in-out;
    margin-top: 2.3rem 0 2.3rem 0;

    .student__item {
      object-fit: cover;
      margin-right: 10px;
      padding: 1.5rem;
      position: relative;
      top: 0;
      left: 0;
      width: 360px !important;
      height: 312px !important;
      border: 1px solid $mainColor1;
      @include borderRadius(0.75rem);

      h3.student__title {
        color: $mainColor-black;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      .student__description {
        font-size: 0.8rem;
        color: $mainColor-black;
        text-align: left;
        margin-bottom: 2rem; 
      }

      .student_img {
        position: absolute;
        bottom: 1px;
        right: 1px;
        width: 40%;
        height: auto;
      
      }

      /* Button Style */
    }
  }

  /* Responsive Settings */
  @media (min-width: 1400px) {
    .student__item {
      .swiper-slide {
        width: calc(25% - 1rem); /* 4 items per row */
      }
    }
  }

  @media (max-width: 1400px) {
    .swiper-slide {
      width: calc(25% - 1rem); /* 4 items per row */
    }
  }

  @media (max-width: 1200px) {
    .swiper-wrapper {
      width: 100%;
      margin: 0 0.625rem;
    }
    .swiper-slide {
      width: calc(33.33% - 1rem); /* 3 items per row */
    }
  }

  @media (max-width: 992px) {
    .swiper-slide {
      width: calc(50% - 1rem); /* 2 items per row */
    }
  }

  @media (max-width: 768px) {
    .swiper-slide {
      width: calc(50% - 1rem); /* 2 items per row */
    }
  }

  @media (max-width: 561px) {
    .categories__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .swiper-wrapper {
      width: 100%;
    }
    .swiper-slide {
      width: 100% !important; /* 1 item per row */
    }

    .student__item {
      padding: 0.75rem;
      h3.student__title {
        font-size: 1rem;
      }
      .student__description {
        font-size: 0.85rem;
      }
    }
  }
}