@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.section-header {
  font-size: .8rem;
  margin-bottom: 1.5rem;

  position: relative;

  h2{
    font-size: 2.3rem;
    font-weight: 700;
    color: $mainColor2;
    margin-bottom: 1rem;
  }

  p {
    color: $mainColor2 !important;
    margin-bottom: .5rem;
    
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.3px;
    width: 11rem;
    height: 5px;
    background-color: $mainColor1;
  }
}
